---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

// Back-to-top progress bar
#back-to-top {
  margin-bottom: 2rem !important;
}

#progress-circle {
  margin: -1px -1px;
  top: -2.75rem;
  position: relative;
  transform: rotate(-90deg);

  circle {
    stroke: #FF5722;
    stroke-dasharray: 2 * 3.14 * 20;
    stroke-dashoffset: 2 * 3.14 * 20;
    transition: stroke-dashoffset 0.2s;
  }
}
#sidebar ul li.nav-item {
padding-bottom: 0 !important;
padding-top: 0 !important;
margin: 2px !important;
}

.scroller {   
    overflow: hidden;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    width: max-content;
    animation: scroll var(--_animation-duration, 20s) var(--_animation-direction, forwards) linear infinite;
}

.scroller:hover .scroller__inner {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translate(calc(-25% - 0.2rem)); 
    }
}

.tag-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tag-list li {
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    
}

.tag-list li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


.scroller[data-speed="medium"] { --_animation-duration: 20s; }
